In [1]:
import pandas as pd

In [2]:
final_big_data = pd.read_csv(r"E:\Process_Mining\Python_Output\Process_Mining_final_trail.csv", encoding='utf-8', low_memory=False)

In [3]:
final_big_data = final_big_data.astype(str)

In [4]:
final_big_data["Material_EKPO"].unique()

array(['nan', '120010199.0', '120012814.0', ..., '120001288.0',
       '320004785.0', '320000700.0'], dtype=object)

In [5]:
final_big_data['Material_EKPO'] = pd.to_numeric(final_big_data['Material_EKPO'], errors='coerce').astype('Int64')

In [6]:
final_big_data["Material_EKPO"].unique()

<IntegerArray>
[     <NA>, 120010199, 120012814, 120015319, 120059606, 120059605, 120016602,
 120008997, 120060233, 320004661,
 ...
 320000667, 120001054, 120062101, 120004842, 120008137, 220003278, 120002251,
 120001288, 320004785, 320000700]
Length: 1252, dtype: Int64

In [7]:
print(list(final_big_data.columns))

['JI Number', 'JI Created Date', 'Project Category', 'Client', 'Client.1', 'Desired Vendor', 'Name', 'Project Description', 'User Status', 'Client Name', 'Date of Approval', 'Project Type', 'System Status', 'Project Number', 'Approval Yr', 'Obj.Class', 'Obj.curr.of the appr', 'Plant.1', 'Priority', 'Project Type.1', 'Req.Comp.Code', 'Req.Company', 'Resp.company', 'Resp.company.1', 'Resp.Company Code', 'Resp.Controlling Are', 'Resp.Pr.Cntr', 'Functional Location', 'Project Definiton', 'Total_Amount', 'JQ_Numbers', 'Purchase Requisition', 'Item of requisition', 'Document Type', 'Purch. Doc. Category', 'Release State', 'Release strategy', 'Purchasing Group', 'Created By', 'Changed On', 'Requisitioner', 'Short Text', 'Plant', 'Req. Tracking Number', 'Material Group', 'Quantity requested', 'Unit of Measure', 'Shortage quantity', 'Requisition date', 'Deliv. date category', 'Delivery date', 'Release Date', 'GR processing time', 'Valuation Price', 'Price Unit', 'Purchase order', 'Purchase order item', 'Purchase Order Date', 'Quantity ordered', 'Jaggaer RFXID', 'Jaggaer RFX Reference Code', 'Jaggaer Tender Code', 'Jaggaer Tender Reference Code', 'Tender. #', 'RFx Code', 'RFx Title', 'Current Tender Status', 'RFx Creation Date', 'RFQ/RFP', 'PR SAP Ref', 'PR Value From RAT', 'PR Approval/Allocation Date', 'Project /Facility Ref', 'Project Name', 'Tender Created by', 'Owner Email', 'Dept / Division', 'RAT Ref', 'RAT Creation date', 'RAT Approval date (Planned)', 'RAT Approval date (Actual)', 'Number of Days for RAT Creation', 'EOI RFeference_number', 'EOI issuance Date', 'Number/List of EOI issued', 'EOI Closing Date', 'Number/List of EOI received', 'Number/List of ITT/RFP issued', 'No/List of FoA received', 'Planned Tender Submission date as per RAT', 'Tender Submission date as per ITT', 'Revised Tender Submission date (Latest)', 'EoT (Days)', 'Tender Opening Date-I', 'Number / List of Tenders received', 'Number / List of Tenders shortlisted for', 'Date of issuance of PTC-01', 'Date of receipt of Revised Tender Submission', 'Tender Opening Date-II', 'Number / List of Revised Tenders received', 'Number / List of Tenders shortlisted for .1', 'Date of issuance of PTC-02', 'Date of receipt of Revised Tender Submission 02', 'Tender Opening Date-III', 'Number / List of Revised Tenders received 02', 'Number / List of Tenders shortlisted for .2', 'Tender Opening Date-IV', 'Number / List of Revised Tenders received 03', 'Successful / Proposed Vendor for Award', 'Successful / Proposed Vendor for Award- Jaggaer', 'Successful / Proposed Vendor for Award-SAP ID', 'BAFO/LAFO - Amount', 'BAFO/LAFO - Date', 'Total Tender Days KPI-2', 'Savings/verrun', 'Pre Award Date', 'Commercial Eval Closing Date', 'Technical Eval Closing Date', 'Plant.1_PR', 'Created By_PR', 'App.Req.Type', 'Purchasing Document', 'Item.1', 'Material_EKPO', 'Short Text_PO', 'Net Price_PO', 'PO_Quantity', 'Net Value_PO', 'Created On_ekko', 'Release indicator', 'Net Order Price', 'Price Unit_PO', 'Net Order Value', 'Plant_PO', 'Item.1_PO', 'Seq. No. of Account Assgt', 'Trans./event type', 'Material Doc. Year', 'Material Document', 'Material Doc.Item', 'PO History Category', 'Movement type', 'Quantity', 'Quantity in OPUn', 'Purchase Order Type', 'Amt.in Loc.Cur.', 'Amount', 'Currency_PO', 'GR/IR clearing value in local currency', 'GR Blck.Stock in OUn', 'GR blocked stck.OPUn', 'Debit/Credit Ind.', 'Reference', 'Fisc. Year Ref. Doc.', 'Reference Document', 'Reference Doc. Item', 'Reason for Movement', 'Entry Date', 'Time of Entry', 'Invoice Value', 'Invoice Value in FC', 'Sequential Number', 'Del. Note Quantity', 'GR/IR clearing value in FC', 'Local currency', 'Quantity.1', 'Document Date', 'Created By_PO', 'Package Number', 'Service line', 'Seq. No. of PO Acc. Assignment', 'GR/IR clearing value in FC.1', 'FC invoice amount', 'SAP Release', 'Quantity.2', 'Quantity in OPUn.1', 'Amt.in Loc.Cur..1', 'Amount.1', 'Val. GR Blocked Stock in OUn', 'Valuated GR Blocked Stock in OPUn', 'Exch. Rate Diff. Amt', 'Retention in Document Currency', 'Retention in Company Code Currency', 'Posted Retention in Document Currency', 'Posted Security Retention in CC Crcy', 'Quantity in Parallel Unit of Measure', 'GR Blocked Stock in Base/Parallel UoM', 'GR Blkd Stk in Basis or Parallel UoM', 'Quantity.3', 'Invoice Document No.', 'Invoice Fiscal Year', 'Invoice Item', 'Invoice amount', 'Invoice Debit/Credit Indicator', 'Invoice Document Type', 'Invoice Document Date', 'Invoice Posting Date', 'posting_date_grn', 'Number/List of EOI issued (In numbers)', 'Number/List of EOI received (In numbers)', 'Number/List of ITT/RFP issued (In numbers)', 'No/List of FoA received (In numbers)', 'Number / List of Tenders received (In numbers)', 'Number / List of Tenders shortlisted for (In numbers)', 'Number / List of Revised Tenders received (In numbers)', 'Number / List of Tenders shortlisted for .1 (In numbers)', 'Number / List of Revised Tenders received 02 (In numbers)', 'JQ_Numbers (In numbers)', 'Change doc. object', 'Obj. value', 'Document Number', 'Table Name', 'Table Key', 'Field name', 'Change ID', 'Text flag', 'Unit (#1)', 'UNIT_NEW', 'CUKY (#1)', 'CUKY_NEW', 'New value', 'Old value', '_DATAAGING', 'Transaction Code', 'First PO Release Date_PO', 'Time', 'User', 'Field', 'DDTEXT', 'Change doc. object_PR', 'Obj. value_PR', 'Document Number_PR', 'Table Name_PR', 'Table Key_PR', 'Field name_PR', 'Change ID_PR', 'Text flag_PR', 'Unit (#1)_PR', 'UNIT_NEW_PR', 'CUKY (#1)_PR', 'CUKY_NEW_PR', 'New value_PR', 'Old value_PR', '_DATAAGING_PR', 'Transaction Code_PR', 'First PO Release Date_PR', 'Time_PR', 'User_PR', 'Field_PR', 'DDTEXT_PR']

##### 1.Common Vendors Always Receiving RFQs

In [8]:
final_big_data['Number/List of EOI received'].unique()

array(['nan', 'AG ENGINEERING', 'Deyaar Faciliti', 'ETISALAT FACILI',
       'IDAMA FACILITIE', 'IMDAAD(LLC)', 'Khansaheb FMS L',
       'Operon Middle E', 'TRANSGUARD GROU', 'GREEN SCAPES',
       'OPAL LANDSCAPIN', 'ORIENT IRRIGATI', 'Oasis Hills Lan',
       'Proscape FM LLC', 'EXTERRADISE', 'Gebal Al Qalamo',
       'Green Concept L', 'PLANET GREENERS', 'ZAID AL-HUSSAIN',
       'Al Masaood Nati', 'Al Tariq Contra', 'BNS CONTRACTING',
       'Civil Matrix Co', 'EMIRATES SANDS', 'Miami Contracti',
       'Reliant Contrac', 'SEA SHORE CONST', 'AL HIKMA BUILDI',
       'AL TURATH AL AS', 'BUILDING CO. (B', 'Dutco Construct',
       'Eastern Interna', 'FAST BLDG. CONT', 'Gulf Asia Contr',
       'Naresco Contrac', 'Tornado Buildin', 'AL NUAIMI GROUP',
       'Moon Link Build', 'Royal Gulf Cont', 'A P C C PILING',
       'BAUER SPEZIALTI', 'INTERNATIONAL F', 'NSCC Internatio',
       'PINNACLE INTERN', 'Soiltec Piling', 'Ahli Pools Gard',
       'Desert Leisure', 'Imagineering La', 'WATER IN MOTION',
       'CHINA NATIONAL', 'Darwish Enginee', 'Engineering Con',
       'GBH INTERNATION', 'MOHAMMED ABDULM', 'Silver Coast Co',
       'United Engineer', 'HILLS & FORT CO', 'MASRI ENGINEERI',
       'PLUS SEVEN CONT', 'Paramount Inter', 'A R C DECOR & G',
       'Asfy Decoration', 'GOLDEN ARCH DEC', 'H T S Interior',
       'QASSER AL BADEE', 'Alpha Fifty Fiv', 'BELHASA PROJECT',
       'Frontier Fencin', 'SHADES & SURFAC', 'Sabt Industry L',
       'DAIKIN AIRCONDI', 'JOHNSON CONTROL', 'Petra Air Condi',
       'TRANE B V B A (', 'UTS CARRIER (L.', 'TARGET ARCHITE',
       'ARCHCORP ARCHIT', 'ARCHDOME CONSUL', 'Al Bayaty Archi',
       'Al Gurg Consult', 'M A K S Enginee', 'National Engine',
       'ACPV Architects', 'Aaltovillas FZ', 'Arch Me', 'Ark Sotogrande',
       'Godwin Austen J', 'Marcelo Passare', 'SAOTA (PTY) LTD',
       'Emirates Public', 'NATIONAL RENT A', 'RAK Transport A',
       'SWAIDAN TRADING', 'TRANSWORLD META', 'UNITED MOTORS &'],
      dtype=object)

In [9]:
final_big_data['Purchase Requisition']

0        1000001413
1        1000001519
2        1000001562
3        1000001634
4        1000001634
            ...
16176    1800011174
16177    1800011174
16178    1800011174
16179    1800011174
16180    1800011174
Name: Purchase Requisition, Length: 16181, dtype: object

In [10]:
# Step 1: Find total number of unique PRs in the dataset
total_pr_count = final_big_data['Purchase Requisition'].nunique()

In [11]:
total_pr_count

2877

In [12]:
final_big_data_unique = final_big_data[
    (final_big_data['Number/List of EOI received'].notna()) & 
    (final_big_data['Number/List of EOI received'].str.lower() != 'nan')
]

In [13]:
final_big_data_unique['Number/List of EOI received'].unique()

array(['AG ENGINEERING', 'Deyaar Faciliti', 'ETISALAT FACILI',
       'IDAMA FACILITIE', 'IMDAAD(LLC)', 'Khansaheb FMS L',
       'Operon Middle E', 'TRANSGUARD GROU', 'GREEN SCAPES',
       'OPAL LANDSCAPIN', 'ORIENT IRRIGATI', 'Oasis Hills Lan',
       'Proscape FM LLC', 'EXTERRADISE', 'Gebal Al Qalamo',
       'Green Concept L', 'PLANET GREENERS', 'ZAID AL-HUSSAIN',
       'Al Masaood Nati', 'Al Tariq Contra', 'BNS CONTRACTING',
       'Civil Matrix Co', 'EMIRATES SANDS', 'Miami Contracti',
       'Reliant Contrac', 'SEA SHORE CONST', 'AL HIKMA BUILDI',
       'AL TURATH AL AS', 'BUILDING CO. (B', 'Dutco Construct',
       'Eastern Interna', 'FAST BLDG. CONT', 'Gulf Asia Contr',
       'Naresco Contrac', 'Tornado Buildin', 'AL NUAIMI GROUP',
       'Moon Link Build', 'Royal Gulf Cont', 'A P C C PILING',
       'BAUER SPEZIALTI', 'INTERNATIONAL F', 'NSCC Internatio',
       'PINNACLE INTERN', 'Soiltec Piling', 'Ahli Pools Gard',
       'Desert Leisure', 'Imagineering La', 'WATER IN MOTION',
       'CHINA NATIONAL', 'Darwish Enginee', 'Engineering Con',
       'GBH INTERNATION', 'MOHAMMED ABDULM', 'Silver Coast Co',
       'United Engineer', 'HILLS & FORT CO', 'MASRI ENGINEERI',
       'PLUS SEVEN CONT', 'Paramount Inter', 'A R C DECOR & G',
       'Asfy Decoration', 'GOLDEN ARCH DEC', 'H T S Interior',
       'QASSER AL BADEE', 'Alpha Fifty Fiv', 'BELHASA PROJECT',
       'Frontier Fencin', 'SHADES & SURFAC', 'Sabt Industry L',
       'DAIKIN AIRCONDI', 'JOHNSON CONTROL', 'Petra Air Condi',
       'TRANE B V B A (', 'UTS CARRIER (L.', 'TARGET ARCHITE',
       'ARCHCORP ARCHIT', 'ARCHDOME CONSUL', 'Al Bayaty Archi',
       'Al Gurg Consult', 'M A K S Enginee', 'National Engine',
       'ACPV Architects', 'Aaltovillas FZ', 'Arch Me', 'Ark Sotogrande',
       'Godwin Austen J', 'Marcelo Passare', 'SAOTA (PTY) LTD',
       'Emirates Public', 'NATIONAL RENT A', 'RAK Transport A',
       'SWAIDAN TRADING', 'TRANSWORLD META', 'UNITED MOTORS &'],
      dtype=object)

In [14]:
# Step 2: For each vendor, find unique count of PRs they received RFQs for
vendor_col = 'Number/List of EOI received'

In [15]:
# Group by vendor, count unique PRs (Purchase Requisition) they are associated with
vendor_pr_counts = final_big_data_unique.groupby(vendor_col)['Purchase Requisition'].nunique().reset_index()

In [16]:
vendor_pr_counts.head()

  Number/List of EOI received  Purchase Requisition
0              A P C C PILING                     1
1             A R C DECOR & G                     1
2             ACPV Architects                     1
3              AG ENGINEERING                     1
4             AL HIKMA BUILDI                     3

In [17]:
vendor_pr_counts['Purchase Requisition'].unique()

array([1, 3, 2, 4])

In [18]:
vendor_pr_counts.rename(columns={'Purchase Requisition': 'Unique_PR_Count'}, inplace=True)

In [19]:
vendor_pr_counts['PR_Coverage_Percentage'] = (vendor_pr_counts['Unique_PR_Count'] / total_pr_count) * 100

In [20]:
vendor_pr_counts['PR_Coverage_Percentage'].unique()

array([0.03475843, 0.10427529, 0.06951686, 0.13903372])

In [21]:
vendor_pr_counts

   Number/List of EOI received  Unique_PR_Count  PR_Coverage_Percentage
0               A P C C PILING                1                0.034758
1              A R C DECOR & G                1                0.034758
2              ACPV Architects                1                0.034758
3               AG ENGINEERING                1                0.034758
4              AL HIKMA BUILDI                3                0.104275
..                         ...              ...                     ...
89             UNITED MOTORS &                1                0.034758
90             UTS CARRIER (L.                1                0.034758
91             United Engineer                1                0.034758
92             WATER IN MOTION                1                0.034758
93             ZAID AL-HUSSAIN                1                0.034758

[94 rows x 3 columns]

In [22]:
# Filter vendors with 90%+ coverage
common_vendors_90_plus = vendor_pr_counts[vendor_pr_counts['PR_Coverage_Percentage'] >= 90]

In [23]:
print(common_vendors_90_plus)

Empty DataFrame
Columns: [Number/List of EOI received, Unique_PR_Count, PR_Coverage_Percentage]
Index: []

In [24]:
# common_vendors_90_plus.to_csv("Common_Vendors_Always_Receiving_RFQs.csv", index=False)

##### 2.Dummy Vendors – Vendors always in RFQ list but never submit bids

In [25]:
final_big_data['Purchase Requisition'].unique()

array(['1000001413', '1000001519', '1000001562', ..., '1200015215',
       '1200015271', '1800011174'], dtype=object)

In [26]:
final_big_data['Number/List of EOI received'].unique()

array(['nan', 'AG ENGINEERING', 'Deyaar Faciliti', 'ETISALAT FACILI',
       'IDAMA FACILITIE', 'IMDAAD(LLC)', 'Khansaheb FMS L',
       'Operon Middle E', 'TRANSGUARD GROU', 'GREEN SCAPES',
       'OPAL LANDSCAPIN', 'ORIENT IRRIGATI', 'Oasis Hills Lan',
       'Proscape FM LLC', 'EXTERRADISE', 'Gebal Al Qalamo',
       'Green Concept L', 'PLANET GREENERS', 'ZAID AL-HUSSAIN',
       'Al Masaood Nati', 'Al Tariq Contra', 'BNS CONTRACTING',
       'Civil Matrix Co', 'EMIRATES SANDS', 'Miami Contracti',
       'Reliant Contrac', 'SEA SHORE CONST', 'AL HIKMA BUILDI',
       'AL TURATH AL AS', 'BUILDING CO. (B', 'Dutco Construct',
       'Eastern Interna', 'FAST BLDG. CONT', 'Gulf Asia Contr',
       'Naresco Contrac', 'Tornado Buildin', 'AL NUAIMI GROUP',
       'Moon Link Build', 'Royal Gulf Cont', 'A P C C PILING',
       'BAUER SPEZIALTI', 'INTERNATIONAL F', 'NSCC Internatio',
       'PINNACLE INTERN', 'Soiltec Piling', 'Ahli Pools Gard',
       'Desert Leisure', 'Imagineering La', 'WATER IN MOTION',
       'CHINA NATIONAL', 'Darwish Enginee', 'Engineering Con',
       'GBH INTERNATION', 'MOHAMMED ABDULM', 'Silver Coast Co',
       'United Engineer', 'HILLS & FORT CO', 'MASRI ENGINEERI',
       'PLUS SEVEN CONT', 'Paramount Inter', 'A R C DECOR & G',
       'Asfy Decoration', 'GOLDEN ARCH DEC', 'H T S Interior',
       'QASSER AL BADEE', 'Alpha Fifty Fiv', 'BELHASA PROJECT',
       'Frontier Fencin', 'SHADES & SURFAC', 'Sabt Industry L',
       'DAIKIN AIRCONDI', 'JOHNSON CONTROL', 'Petra Air Condi',
       'TRANE B V B A (', 'UTS CARRIER (L.', 'TARGET ARCHITE',
       'ARCHCORP ARCHIT', 'ARCHDOME CONSUL', 'Al Bayaty Archi',
       'Al Gurg Consult', 'M A K S Enginee', 'National Engine',
       'ACPV Architects', 'Aaltovillas FZ', 'Arch Me', 'Ark Sotogrande',
       'Godwin Austen J', 'Marcelo Passare', 'SAOTA (PTY) LTD',
       'Emirates Public', 'NATIONAL RENT A', 'RAK Transport A',
       'SWAIDAN TRADING', 'TRANSWORLD META', 'UNITED MOTORS &'],
      dtype=object)

In [27]:
final_big_data['Number / List of Tenders received'].unique()

array(['nan', 'AG ENGINEERIN', 'Deyaar Facili', 'ETISALAT FACI',
       'IDAMA FACILIT', 'IMDAAD(LLC)', 'Khansaheb FMS', 'Operon Middle',
       'TRANSGUARD GR', 'GREEN SCAPES', 'Oasis Hills L', 'Proscape FM L',
       'ORIENT IRRIGA', 'EXTERRADISE', 'Al Masaood Na', 'Al Tariq Cont',
       'EMIRATES SAND', 'Miami Contrac', 'Reliant Contr', 'SEA SHORE CON',
       'AL TURATH AL', 'BUILDING CO.', 'Dutco Constru', 'Eastern Inter',
       'FAST BLDG. CO', 'Gulf Asia Con', 'Tornado Build', 'AL HIKMA BUIL',
       'AL NUAIMI GRO', 'Moon Link Bui', 'Royal Gulf Co', 'INTERNATIONAL',
       'PINNACLE INTE', 'Soiltec Pilin', 'Ahli Pools Ga', 'Desert Leisur',
       'Imagineering', 'WATER IN MOTI', 'CHINA NATIONA', 'Darwish Engin',
       'Engineering C', 'Silver Coast', 'United Engine', 'BNS CONTRACTI',
       'HILLS & FORT', 'MASRI ENGINEE', 'PLUS SEVEN CO', 'Paramount Int',
       'Asfy Decorati', 'GOLDEN ARCH D', 'H T S Interio', 'QASSER AL BAD',
       'BELHASA PROJE', 'Frontier Fenc', 'SHADES & SURF', 'Sabt Industry',
       'DAIKIN AIRCON', 'JOHNSON CONTR', 'Petra Air Con', 'TRANE B V B A',
       'UTS CARRIER (', 'TARGET ARCHI', 'ARCHCORP ARCH', 'ARCHDOME CONS',
       'Al Bayaty Arc', 'Al Gurg Consu', 'Emirates Publ', 'RAK Transport',
       'SWAIDAN TRADI'], dtype=object)

In [28]:
import pandas as pd

# 1. Count unique PRs where each vendor was invited (RFQ shared)
rfq_df = (
    final_big_data[['Purchase Requisition', 'Number/List of EOI received']]
    .dropna(subset=['Number/List of EOI received'])
)
rfq_df = rfq_df[rfq_df['Number/List of EOI received'].str.lower() != 'nan']

In [29]:
rfq_df.head(5)

      Purchase Requisition Number/List of EOI received
16018           1000001809              AG ENGINEERING
16019           1000001809             Deyaar Faciliti
16020           1000001809             ETISALAT FACILI
16021           1000001809             IDAMA FACILITIE
16022           1000001809                 IMDAAD(LLC)

In [30]:
# If Desired Vendor contains multiple vendors per PR, split and explode:
# rfq_df = rfq_df.assign(
#     vendor=rfq_df['Desired Vendor'].str.split(',')
# ).explode('vendor')
# rfq_df['vendor'] = rfq_df['vendor'].str.strip()

# Otherwise, if it's one‐to‐one, just rename:
rfq_df = rfq_df.rename(columns={'Number/List of EOI received': 'vendor'})

In [31]:
vendor_rfq_counts = (
    rfq_df
    .groupby('vendor')['Purchase Requisition']
    .nunique()
    .reset_index(name='rfq_pr_count')
)

In [32]:
vendor_rfq_counts.head(5)

            vendor  rfq_pr_count
0   A P C C PILING             1
1  A R C DECOR & G             1
2  ACPV Architects             1
3   AG ENGINEERING             1
4  AL HIKMA BUILDI             3

In [33]:
# 2. Count unique PRs where each vendor actually submitted a bid
#    using the "Number / List of Tenders received" column
tender_df = (
    final_big_data[['Purchase Requisition', 'Number / List of Tenders received']]
    .dropna(subset=['Number / List of Tenders received'])
)
tender_df = tender_df[tender_df['Number / List of Tenders received'].str.lower() != 'nan']

In [34]:
# split comma‐separated lists into rows
tender_df = tender_df.assign(
    vendor=tender_df['Number / List of Tenders received']
      .str.split(',')
).explode('vendor')

In [35]:
tender_df.head()

      Purchase Requisition Number / List of Tenders received         vendor
16018           1000001809                     AG ENGINEERIN  AG ENGINEERIN
16019           1000001809                     Deyaar Facili  Deyaar Facili
16020           1000001809                     ETISALAT FACI  ETISALAT FACI
16021           1000001809                     IDAMA FACILIT  IDAMA FACILIT
16022           1000001809                       IMDAAD(LLC)    IMDAAD(LLC)

In [36]:
tender_df['vendor'] = tender_df['vendor'].str.strip()

vendor_tender_counts = (
    tender_df
    .groupby('vendor')['Purchase Requisition']
    .nunique()
    .reset_index(name='tender_pr_count')
)

In [37]:
vendor_tender_counts.head()

          vendor  tender_pr_count
0  AG ENGINEERIN                1
1  AL HIKMA BUIL                2
2  AL NUAIMI GRO                1
3   AL TURATH AL                1
4  ARCHCORP ARCH                1

In [38]:
# 3. Merge RFQ and tender counts
vendor_counts = (
    pd.merge(vendor_rfq_counts, vendor_tender_counts, on='vendor', how='left')
    .fillna({'tender_pr_count': 0})
)

In [39]:
vendor_counts['tender_pr_count'].unique()

array([0., 1., 2.])

In [40]:
vendor_counts['rfq_pr_count'].unique()

array([1, 3, 2, 4])

In [41]:
# 4. Compute the RFQ:Bid ratio
vendor_counts['rfq_to_bid_ratio'] = (
    vendor_counts['tender_pr_count'] / vendor_counts['rfq_pr_count']
)

In [42]:
vendor_counts

             vendor  rfq_pr_count  tender_pr_count  rfq_to_bid_ratio
0    A P C C PILING             1              0.0               0.0
1   A R C DECOR & G             1              0.0               0.0
2   ACPV Architects             1              0.0               0.0
3    AG ENGINEERING             1              0.0               0.0
4   AL HIKMA BUILDI             3              0.0               0.0
..              ...           ...              ...               ...
89  UNITED MOTORS &             1              0.0               0.0
90  UTS CARRIER (L.             1              0.0               0.0
91  United Engineer             1              0.0               0.0
92  WATER IN MOTION             1              0.0               0.0
93  ZAID AL-HUSSAIN             1              0.0               0.0

[94 rows x 4 columns]

In [43]:
# 5. Filter dummy vendors with ratio < 10%
dummy_vendors = vendor_counts[
    (vendor_counts['rfq_to_bid_ratio'] < 0.10)
].sort_values('rfq_to_bid_ratio')

In [44]:
print("Vendors with RFQ:Bid ratio < 10% (“Dummy Vendors”):")
dummy_vendors

Vendors with RFQ:Bid ratio < 10% (“Dummy Vendors”):

             vendor  rfq_pr_count  tender_pr_count  rfq_to_bid_ratio
0    A P C C PILING             1              0.0               0.0
1   A R C DECOR & G             1              0.0               0.0
2   ACPV Architects             1              0.0               0.0
3    AG ENGINEERING             1              0.0               0.0
4   AL HIKMA BUILDI             3              0.0               0.0
..              ...           ...              ...               ...
89  UNITED MOTORS &             1              0.0               0.0
90  UTS CARRIER (L.             1              0.0               0.0
91  United Engineer             1              0.0               0.0
92  WATER IN MOTION             1              0.0               0.0
93  ZAID AL-HUSSAIN             1              0.0               0.0

[91 rows x 4 columns]

In [45]:
dummy_vendors['rfq_to_bid_ratio'].unique()

array([0.])

In [47]:
# dummy_vendors.to_csv("Dummy_Vendors.csv", index=False)

##### 3.Preferred Vendor Bias

In [48]:
import pandas as pd

# 1. Pull out PR and its tender-received list, drop missing
resp_df = (
    final_big_data[['Purchase Requisition', 'Number / List of Tenders received']]
    .dropna(subset=['Number / List of Tenders received'])
)
resp_df = resp_df[resp_df['Number / List of Tenders received'].str.lower() != 'nan']

In [49]:
# 2. Split comma‐separated vendors into rows and clean
resp_df = resp_df.assign(
    vendor=resp_df['Number / List of Tenders received'] # 'Number/List of EOI received' or we can use this column for vendors
              .str.split(',')
).explode('vendor')
resp_df['vendor'] = resp_df['vendor'].str.strip()

In [50]:
resp_df.head()

      Purchase Requisition Number / List of Tenders received         vendor
16018           1000001809                     AG ENGINEERIN  AG ENGINEERIN
16019           1000001809                     Deyaar Facili  Deyaar Facili
16020           1000001809                     ETISALAT FACI  ETISALAT FACI
16021           1000001809                     IDAMA FACILIT  IDAMA FACILIT
16022           1000001809                       IMDAAD(LLC)    IMDAAD(LLC)

In [51]:
# 3. Count unique responders per PR
resp_counts = (
    resp_df
    .groupby('Purchase Requisition')['vendor']
    .nunique()
    .reset_index(name='num_responders')
)

In [52]:
resp_counts

   Purchase Requisition  num_responders
0            1000001809               8
1            1000001822               5
2            1000001831               6
3            1000001893               1
4            1100015620               6
5            1100015768               7
6            1100015784               6
7            1100015822               3
8            1100015826               4
9            1100015831               8
10           1100015863               9
11           1100015896               4
12           1100015901               4
13           1100015903               5
14           1200015215               5
15           1800011174               3

In [53]:
# 4. Flag PRs with fewer than 3 responders
flagged_prs = resp_counts[resp_counts['num_responders'] < 3]

print("PRs with fewer than 3 bids:")
print(flagged_prs)

PRs with fewer than 3 bids:
  Purchase Requisition  num_responders
3           1000001893               1

In [54]:
flagged_prs['num_responders'].unique()

array([1])

In [55]:
# flagged_prs.to_csv("Preferred_Vendor_Bias.csv", index=False)

##### 6.Fast-track PO Cycle (Suspicious Speed)

In [498]:
import pandas as pd

# assume final_big_data is already loaded

# 1. Select and rename the relevant date columns
cols = {
    'Requisition date':      'pr_creation',       # PR creation
    'Release Date':          'pr_release',        # PR release
    'Created On_ekko':       'po_creation',       # PO creation
    'First PO Release Date_PO': 'po_release',      # PO release
    'posting_date_grn':      'grn_date'           # first GRN
}

In [499]:
final_big_data['Material_EKPO'].unique()

<IntegerArray>
[     <NA>, 120010199, 120012814, 120015319, 120059606, 120059605, 120016602,
 120008997, 120060233, 320004661,
 ...
 320000667, 120001054, 120062101, 120004842, 120008137, 220003278, 120002251,
 120001288, 320004785, 320000700]
Length: 1252, dtype: Int64

In [500]:
df = final_big_data[list(cols.keys()) + [
    'Successful / Proposed Vendor for Award-SAP ID',
    'Requisitioner',
    'Material_EKPO'
]].rename(columns=cols)

In [501]:
# 2. Drop any rows missing the PR-or-GRN dates, and cast to datetime
for c in ['pr_creation','grn_date']:
    df[c] = pd.to_datetime(df[c], errors='coerce')

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\1680397488.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[c] = pd.to_datetime(df[c], errors='coerce')
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\1680397488.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[c] = pd.to_datetime(df[c], errors='coerce')

In [502]:
df['grn_date'].unique()

<DatetimeArray>
['2024-10-22 00:00:00',                 'NaT', '2024-09-12 00:00:00',
 '2024-12-06 00:00:00', '2024-12-10 00:00:00', '2024-12-19 00:00:00',
 '2024-12-26 00:00:00', '2024-05-24 00:00:00', '2023-12-31 00:00:00',
 '2024-02-07 00:00:00',
 ...
 '2024-10-13 00:00:00', '2024-09-27 00:00:00', '2024-09-01 00:00:00',
 '2024-09-28 00:00:00', '2024-10-31 00:00:00', '2024-10-12 00:00:00',
 '2024-09-14 00:00:00', '2024-11-23 00:00:00', '2024-10-06 00:00:00',
 '2025-01-02 00:00:00']
Length: 405, dtype: datetime64[ns]

In [503]:
df = df.dropna(subset=['pr_creation','grn_date'])

In [504]:
# 3. Compute the lead time (days) from PR creation → first GRN
df['lead_time_days'] = (df['grn_date'] - df['pr_creation']).dt.days

In [505]:
df['lead_time_days']

0        449
3        139
4        224
5        204
6        204
        ...
16013     35
16014     32
16015     35
16016     10
16017     11
Name: lead_time_days, Length: 15894, dtype: int64

In [506]:
# 4. Calculate average lead time for each Vendor–User–MaterialGroup trio
group_cols = [
    'Successful / Proposed Vendor for Award-SAP ID',
    'Requisitioner',
    'Material_EKPO'
]

avg_lt = (
    df
    .groupby(group_cols)['lead_time_days']
    .mean()
    .reset_index(name='avg_lead_time')
)

In [507]:
avg_lt

,Successful / Proposed Vendor for Award-SAP ID,Requisitioner,Material_EKPO,avg_lead_time
0,nan,14590,320002973,8.000000
1,nan,15030,320000700,25.833333
2,nan,201590,320002973,18.000000
3,nan,201600,120001353,21.000000
4,nan,201600,120002392,21.000000
...,...,...,...,...
1461,nan,benoy,120002012,26.500000
1462,nan,breettus,120006020,109.833333
1463,nan,nafavil,320002973,19.000000
1464,nan,wiman,120015946,51.000000
1465,nan,wiman,120025496,38.750000

In [508]:
# 5. Merge the average back and flag “fast-track” cases < 50% of that average
df_flag = (
    df
    .merge(avg_lt, on=group_cols, how='left')
)
df_flag['pct_of_avg'] = df_flag['lead_time_days'] / df_flag['avg_lead_time']
suspicious = df_flag[df_flag['pct_of_avg'] < 0.5]

# 6. Inspect
print("Suspiciously fast PO cycles (<50% of avg lead):")
print(
    suspicious[[
        'Successful / Proposed Vendor for Award-SAP ID',
        'Requisitioner',
        'Material_EKPO',
        'lead_time_days',
        'avg_lead_time',
        'pct_of_avg'
    ]]
    .sort_values('pct_of_avg')
)

Suspiciously fast PO cycles (<50% of avg lead):
     Successful / Proposed Vendor for Award-SAP ID Requisitioner  \
8753                                           nan    Ahmed Emam
8700                                           nan    Ahmed Emam
6457                                           nan       Sharief
6862                                           nan     Inventory
6863                                           nan     Inventory
...                                            ...           ...
8102                                           nan         Nisar
8099                                           nan         Nisar
8100                                           nan         Nisar
8101                                           nan         Nisar
4699                                           nan    Ahmed Tuba

      Material_EKPO  lead_time_days  avg_lead_time  pct_of_avg
8753      120005500               8      88.600000    0.090293
8700      120005500               8      88.600000    0.090293
6457      120013442              11     118.781250    0.092607
6862      120000153              10     105.034483    0.095207
6863      120000153              10     105.034483    0.095207
...             ...             ...            ...         ...
8102      120013016              14      28.166667    0.497041
8099      120013016              14      28.166667    0.497041
8100      120013016              14      28.166667    0.497041
8101      120013016              14      28.166667    0.497041
4699      120029426              46      92.250000    0.498645

[225 rows x 6 columns]

OOOOOOOOOOOOOOOOOOOOOOOOOOOORRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR

In [509]:
import pandas as pd

# Make sure date columns are in datetime format
final_big_data['Requisition date'] = pd.to_datetime(final_big_data['Requisition date'])
final_big_data['posting_date_grn'] = pd.to_datetime(final_big_data['posting_date_grn'])
# final_big_data = final_big_data[final_big_data['Number/List of EOI received'].str.lower() != 'nan']

# Choose identifiers
vendor_col = 'Number/List of EOI received'       # confirm with your data; could also be 'Name'
user_col = 'Requisitioner'
material_col = 'Material_EKPO'     # or another field that best represents material
pr_date_col = 'Requisition date'
grn_date_col = 'posting_date_grn'

# Calculate lead time (days) from PR creation to first GRN for each record
final_big_data['PR_to_GRN_days'] = (final_big_data[grn_date_col] - final_big_data[pr_date_col]).dt.days

# Group by Vendor, User, Material and calculate average lead time
group_columns = [vendor_col, user_col, material_col]
avg_lead_time = final_big_data.groupby(group_columns)['PR_to_GRN_days'].mean().reset_index()
avg_lead_time.rename(columns={'PR_to_GRN_days': 'Avg_Lead_Time'}, inplace=True)

# Merge average lead time back into original data
merged = pd.merge(final_big_data, avg_lead_time, on=group_columns, how='left')

# Flag 'fast-track' cases: PR_to_GRN_days < 50% of the average for their Vendor, User, Material
merged['Fast_Track_Flag'] = merged['PR_to_GRN_days'] < (0.5 * merged['Avg_Lead_Time'])

# Extract only the suspicious (fast-tracked) records
fast_tracked = merged[merged['Fast_Track_Flag']]

# View key details of suspicious transactions
columns_to_show = [vendor_col, user_col, material_col, pr_date_col, grn_date_col, 'PR_to_GRN_days', 'Avg_Lead_Time']
fast_tracked[columns_to_show]

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\4111671008.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_big_data['Requisition date'] = pd.to_datetime(final_big_data['Requisition date'])
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\4111671008.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_big_data['posting_date_grn'] = pd.to_datetime(final_big_data['posting_date_grn'])

,Number/List of EOI received,Requisitioner,Material_EKPO,Requisition date,posting_date_grn,PR_to_GRN_days,Avg_Lead_Time
4654,nan,Shihabudeen,120010199,2023-12-05,2023-12-25,20.0,85.400000
4655,nan,Shihabudeen,120010199,2023-12-05,2023-12-27,22.0,85.400000
4763,nan,Ahmed Tuba,120029426,2023-08-28,2023-10-13,46.0,92.250000
4824,nan,Inventory,120004958,2023-09-18,2023-10-04,16.0,52.000000
4843,nan,Cristino,320001829,2023-09-20,2023-10-10,20.0,57.250000
...,...,...,...,...,...,...,...
15848,nan,SHAFI,120004427,2024-09-25,2024-10-04,9.0,30.800000
15850,nan,Shejeem,120012145,2024-09-27,2024-10-07,10.0,20.833333
15853,nan,Shejeem,120012145,2024-09-27,2024-10-07,10.0,20.833333
16016,nan,15030,320000700,2023-10-23,2023-11-02,10.0,25.833333
16017,nan,15030,320000700,2023-10-23,2023-11-03,11.0,25.833333

In [511]:
fast_tracked[columns_to_show].to_csv('Fast_track_PO_Cycle_(Suspicious_Speed).csv', index=False)

##### 7. High Change Frequency

In [512]:
import numpy as np
final_big_data['User_PR'] = final_big_data['User_PR'].replace('nan', np.nan)
final_big_data['User_PR'] = final_big_data['User_PR'].astype(float).astype('Int64')
final_big_data['User_PR'].unique()

<IntegerArray>
[<NA>, 22031, 3413]
Length: 3, dtype: Int64

In [513]:
final_big_data['User'] = final_big_data['User'].replace('nan', np.nan)
final_big_data['User'] = final_big_data['User'].astype(float).astype('Int64')
final_big_data['User'].unique()

<IntegerArray>
[ 11141, 202019, 202646,  52219,  22031,   <NA>,   2642,  23008,   2500,
 202832,  25107, 202636, 201063,   3413, 202905, 202696,  20198,   2983,
 200234, 200985, 202783,   5483,  11181]
Length: 23, dtype: Int64

In [514]:
import pandas as pd

# 6. Keep only rows where the same user edited both PR and PO
same_user = final_big_data[final_big_data['User_PR'] == final_big_data['User']]

# 7. For each user, compute:
#    • how many distinct PRs they edited
#    • how many distinct POs they edited
#    • which PR‐fields and PO‐fields they touched
summary = (
    same_user
    .groupby('User')
    .agg(
        unique_pr_count=('Purchase Requisition', 'nunique'),
        unique_po_count=('Purchase order', 'nunique'),
        pr_fields_changed=('Field name_PR', lambda s: ', '.join(sorted(set(s.dropna())))),
        po_fields_changed=('Field name',    lambda s: ', '.join(sorted(set(s.dropna()))))
    )
    .reset_index()
)

print("High‐change users (PR & PO edits):")
print(summary.sort_values('unique_pr_count', ascending=False))

High‐change users (PR & PO edits):
    User  unique_pr_count  unique_po_count pr_fields_changed po_fields_changed
0   3413                2                3             BSMNG      FRGKE, FRGZU
1  22031                1                1             GMMNG            MEMORY

In [516]:
summary.to_csv("High_Change_Frequency.csv", index=False)

##### 9.Split POs for Same PR

In [517]:
import pandas as pd

# assume final_big_data is already loaded

# 1. Count distinct POs per PR–vendor pair
split_counts = (
    final_big_data
    .dropna(subset=['Purchase Requisition', 'Purchase order', 'Successful / Proposed Vendor for Award- Jaggaer']) # 'Resp.Company Code'
    .groupby(['Purchase Requisition', 'Successful / Proposed Vendor for Award- Jaggaer'])['Purchase order']
    .nunique()
    .reset_index(name='po_count')
)

# 2. Filter to cases where one PR → more than one PO for the same vendor
split_prs = split_counts[split_counts['po_count'] > 1]

print("PRs split into multiple POs for the same vendor:")
split_prs

PRs split into multiple POs for the same vendor:

,Purchase Requisition,Successful / Proposed Vendor for Award- Jaggaer,po_count
889,1600004222,nan,2
915,1600004329,nan,3
919,1600004342,nan,4
923,1600004346,nan,2
972,1700214081,nan,2
...,...,...,...
2600,1700220332,nan,2
2645,1700220554,nan,2
2698,1700220846,nan,2
2743,1700221025,nan,3
2777,1700221177,nan,2

In [518]:
split_prs['Successful / Proposed Vendor for Award- Jaggaer'].unique()

array(['nan'], dtype=object)

In [519]:
split_prs.to_csv("Split_POs_for_Same_PR.csv", index=False)

#### 11.Transactions where PO Date is prior to PR

In [520]:
final_big_data['Purchase order'] = pd.to_numeric(final_big_data['Purchase order'], errors='coerce')
final_big_data['Purchase order'] = final_big_data['Purchase order'].apply(
    lambda x: '{:.0f}'.format(x) if pd.notnull(x) else ''
)
final_big_data['Purchase order'].unique()

array(['3400007582', '6200033591', '3400007581', ..., '3100008110',
       '3100008155', '3400007660'], dtype=object)

In [521]:
import pandas as pd

# assume final_big_data is already loaded

# 1. Cast the four date columns to datetime
date_cols = {
    'Requisition date':        'pr_creation',
    'Release Date':            'pr_release',
    'Created On_ekko':     'po_creation',
    'First PO Release Date_PO':'po_release'
}
df = final_big_data.rename(columns=date_cols).copy()
for col in ['pr_creation', 'pr_release', 'po_creation', 'po_release']:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# 2. Build boolean flags for each violation
v1 = df['po_creation'] < df['pr_creation']
v2 = df['po_creation'] < df['pr_release']
v3 = df['po_release']  < df['pr_creation']
v4 = df['po_release']  < df['pr_release']

# 3. Combine into one “any-violation” mask
violation = v1 | v2 | v3 | v4

# 4. Filter to only the offending records
flagged = df[violation]

# 5. Inspect key columns and which checks failed
flagged_output = flagged.assign(
    po_before_pr_creation=v1,
    po_before_pr_release=v2,
    po_release_before_pr_creation=v3,
    po_release_before_pr_release=v4
)[[
    'Purchase Requisition',
    'Purchase order',
    'pr_creation',
    'pr_release',
    'po_creation',
    'po_release',
    'po_before_pr_creation',
    'po_before_pr_release',
    'po_release_before_pr_creation',
    'po_release_before_pr_release'
]]

print("Transactions where PO dates precede PR dates:")
flagged_output

Transactions where PO dates precede PR dates:

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\1819929796.py:14: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_7184\1819929796.py:14: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')

,Purchase Requisition,Purchase order,pr_creation,pr_release,po_creation,po_release,po_before_pr_creation,po_before_pr_release,po_release_before_pr_creation,po_release_before_pr_release
1,1000001519,6200033591,2024-01-19,2024-12-31,2024-03-11,2024-12-03,False,True,False,True
2,1000001562,3400007581,2024-01-29,2024-12-31,2023-10-05,2023-05-10,True,True,True,True
3,1000001634,3400007603,2024-04-26,2024-12-31,2024-05-31,2024-03-06,False,True,True,True
4,1000001634,3400007603,2024-04-26,2024-12-31,2024-05-31,2024-03-06,False,True,True,True
5,1000001662,3400007607,2024-05-20,2024-12-31,2024-06-27,2024-09-07,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...
16007,1800011000,6200034439,2024-08-01,2024-08-30,2024-08-20,NaT,False,True,False,False
16008,1800011001,4300004463,2024-08-07,2024-09-11,2024-09-06,2024-06-09,False,True,True,True
16009,1800011013,6200034619,2024-09-02,2024-09-30,2024-09-10,2024-10-09,False,True,False,False
16010,1800011014,6200034621,2024-09-04,2024-10-01,2024-09-11,2024-11-09,False,True,False,False
16011,1800011018,6200034681,2024-09-13,2024-09-20,2024-09-18,NaT,False,True,False,False

In [522]:
flagged_output.to_csv("Transactions_where_PO_Date_is_prior_to_PR.csv", index=False)