In [2]:
import numpy as np
import pandas as pd

In [3]:
ekko = pd.read_csv(r"E:\Process_Mining\Input_Files_(1yearData)\EKKO Updated.csv", encoding='utf-8', low_memory=False)
ekpo = pd.read_csv(r"E:\Process_Mining\Input_Files_(1yearData)\EKPO FOR EDA 1.csv", encoding='utf-8', low_memory=False)

In [4]:
ekko = ekko.astype(str)
ekpo = ekpo.astype(str)

In [5]:
# ekko.rename(columns={'AEDAT':'Created On_ekko'}, inplace=True)
# ekpo.rename(columns={'MENGE':'PO_Quantity'}, inplace=True)

In [6]:
ekko = ekko[['EBELN', 'AEDAT']]

In [7]:
ekko['AEDAT']

0        23-04-2009
1        26-04-2009
2        03-05-2009
3        03-06-2009
4        23-09-2009
            ...
10862    30-09-2024
10863    30-09-2024
10864    30-09-2024
10865    30-09-2024
10866    30-09-2024
Name: AEDAT, Length: 10867, dtype: object

In [8]:
ekko['EBELN'].unique()

array(['3100000073', '3100000079', '3100000090', ..., '6200034748',
       '6200034749', '6200034750'], dtype=object)

In [9]:
ekpo['EBELN'].unique()

array(['3100000073', '3100000079', '3100000090', ..., '6200034748',
       '6200034749', '6200034750'], dtype=object)

In [10]:
ekko.drop_duplicates(subset='EBELN', inplace=True)

In [11]:
ekpo.shape

(43901, 372)

In [12]:
ekpo_ekko = pd.merge(ekpo, ekko, on='EBELN', how='left', suffixes=("","_ekko"))

In [13]:
ekpo_ekko.shape

(43901, 373)

In [14]:
# Join with EKET (by EBELN + EBELP) to get EINDT (required delivery date)
eket = pd.read_csv(r"E:\Process_Mining\Input_Files_(1yearData)\EKET_forEDA1.csv", encoding='utf-8', low_memory=False)

In [15]:
eket = eket[['EBELN', 'EBELP', 'EINDT']]

In [16]:
eket['EBELN'] = eket['EBELN'].astype(str)
eket['EBELP'] = eket['EBELP'].astype(str)

In [17]:
eket['EBELN'].unique()

array(['3100000073', '3100000079', '3100000090', ..., '6200034748',
       '6200034749', '6200034750'], dtype=object)

In [18]:
eket['EBELP'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '180', '181',
       '182', '183', '184', '185', '186', '187', '188', '189', '190',
       '191', '192', '193', '194', '195', '196', '197', '198', '199',
       '200', '201', '202', '203', '204', '205', '206', '207', '208',
       '209', '210', '211', '212', '213', '214', '215', '216', '217',
       '218', '219', '220', '221', '222', '223', '224', '225', '226',
       '227', '228', '229', '230', '231', '232', '233', '234', '235',
       '236', '237', '238', '239', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '250', '251', '252', '253',
       '254', '255'], dtype=object)

In [19]:
ekpo_ekko['EBELN'].unique()

array(['3100000073', '3100000079', '3100000090', ..., '6200034748',
       '6200034749', '6200034750'], dtype=object)

In [20]:
ekpo_ekko['EBELP'].unique()

array(['2', '3', '1', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '180', '181',
       '182', '183', '184', '185', '186', '187', '188', '189', '190',
       '191', '192', '193', '194', '195', '196', '197', '198', '199',
       '200', '201', '202', '203', '204', '205', '206', '207', '208',
       '209', '210', '211', '212', '213', '214', '215', '216', '217',
       '218', '219', '220', '221', '222', '223', '224', '225', '226',
       '227', '228', '229', '230', '231', '232', '233', '234', '235',
       '236', '237', '238', '239', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '250', '251', '252', '253',
       '254', '255'], dtype=object)

In [21]:
ekpo_ekko.shape

(43901, 373)

In [22]:
ekpo_ekko_eket = pd.merge(
    ekpo_ekko,
    eket[['EBELN', 'EBELP', 'EINDT']],
    on=['EBELN', 'EBELP'],
    how='left'
)

In [23]:
ekpo_ekko_eket.shape

(43901, 374)

In [24]:
ekpo_ekko_eket['AEDAT_ekko'].unique()

array(['23-04-2009', '26-04-2009', '03-05-2009', ..., '14-07-2024',
       '14-10-2023', '21-10-2023'], dtype=object)

In [25]:
ekpo_ekko_eket['EINDT'].unique()

array(['15-08-2009', '05-05-2009', '17-05-2009', ..., '25-12-2024',
       '21-12-2024', '27-12-2024'], dtype=object)

In [26]:
ekpo_ekko_eket['AEDAT_ekko'] = pd.to_datetime(ekpo_ekko_eket['AEDAT_ekko'], errors='coerce', dayfirst=False)
ekpo_ekko_eket['EINDT'] = pd.to_datetime(ekpo_ekko_eket['EINDT'], errors='coerce', dayfirst=False)

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_14880\2329221242.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ekpo_ekko_eket['AEDAT_ekko'] = pd.to_datetime(ekpo_ekko_eket['AEDAT_ekko'], errors='coerce', dayfirst=False)
C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_14880\2329221242.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ekpo_ekko_eket['EINDT'] = pd.to_datetime(ekpo_ekko_eket['EINDT'], errors='coerce', dayfirst=False)

In [27]:
ekpo_ekko_eket['AEDAT_ekko'].unique()

<DatetimeArray>
['2009-04-23 00:00:00', '2009-04-26 00:00:00', '2009-05-03 00:00:00',
 '2009-06-03 00:00:00', '2009-09-23 00:00:00', '2009-10-18 00:00:00',
 '2009-10-26 00:00:00', '2009-10-29 00:00:00', '2009-11-03 00:00:00',
 '2009-11-10 00:00:00',
 ...
 '2024-06-09 00:00:00', '2024-06-16 00:00:00', '2024-06-22 00:00:00',
 '2024-06-23 00:00:00', '2024-06-29 00:00:00', '2024-06-30 00:00:00',
 '2024-07-13 00:00:00', '2024-07-14 00:00:00', '2023-10-14 00:00:00',
 '2023-10-21 00:00:00']
Length: 1893, dtype: datetime64[ns]

In [28]:
ekpo_ekko_eket['EINDT'].unique()

<DatetimeArray>
['2009-08-15 00:00:00', '2009-05-05 00:00:00', '2009-05-17 00:00:00',
 '2009-07-15 00:00:00', '2009-07-30 00:00:00', '2009-08-31 00:00:00',
 '2010-08-05 00:00:00', '2009-10-28 00:00:00', '2009-10-06 00:00:00',
 '2009-11-01 00:00:00',
 ...
 '2024-01-28 00:00:00', '2024-03-24 00:00:00', '2025-03-24 00:00:00',
 '2024-04-21 00:00:00', '2024-07-27 00:00:00', '2025-01-31 00:00:00',
 '2025-10-20 00:00:00', '2024-12-25 00:00:00', '2024-12-21 00:00:00',
 '2024-12-27 00:00:00']
Length: 2727, dtype: datetime64[ns]

In [29]:
ekpo_ekko_eket['Ideal_time(In days)'] = (ekpo_ekko_eket['EINDT'] - ekpo_ekko_eket['AEDAT_ekko']).dt.days

In [30]:
ekpo_ekko_eket['Ideal_time(In days)'].unique()

array([114.,   9.,  14., ...,  nan, 729., 471.])

In [31]:
ekpo_ekko_eket['Ideal_time(In days)']

0        114.0
1          9.0
2         14.0
3         42.0
4         57.0
         ...
43896     15.0
43897     15.0
43898     30.0
43899     15.0
43900     30.0
Name: Ideal_time(In days), Length: 43901, dtype: float64

In [32]:
ekbe = pd.read_csv(r"E:\Process_Mining\Input_Files_(1yearData)\EKBE (1).csv", encoding='utf-8', low_memory=False)

In [33]:
ekbe['BEWTP'] = ekbe['BEWTP'].astype(str).str.strip().str.upper()
ekbe['BWART'] = ekbe['BWART'].astype(str).str.strip()

In [34]:
ekbe['BEWTP'].unique()

array(['D', 'E', 'Q', 'A', '1', '2', '3', 'N', 'T'], dtype=object)

In [35]:
ekbe['BWART'].unique()

array(['nan', '101.0', '102.0', '105.0', '103.0', '104.0', '106.0',
       '122.0'], dtype=object)

In [36]:
ekbe['BWART'] = ekbe['BWART'].astype(str).str.replace(r'\.0$', '', regex=True)

In [37]:
ekbe['BWART'].unique()

array(['nan', '101', '102', '105', '103', '104', '106', '122'],
      dtype=object)

In [38]:
ekbe.shape

(231942, 93)

In [39]:
ekbe = ekbe[ekbe['BEWTP'] == 'E']

In [40]:
ekbe.shape

(121913, 93)

In [41]:
ekbe = ekbe[ekbe['BWART'].astype(str).isin(['101', '102'])]

In [42]:
ekbe.shape

(53303, 93)

In [43]:
ekbe['BEWTP'].unique()

array(['E'], dtype=object)

In [44]:
ekbe['BWART'].unique()

array(['101', '102'], dtype=object)

In [45]:
ekbe['BUDAT'].unique()

array(['21-12-2009', '31-12-2009', '31-03-2010', ..., '23-06-2024',
       '26-05-2024', '22-12-2024'], dtype=object)

In [46]:
# parse posting date column BUDAT -> may need dayfirst depending on format
ekbe['BUDAT'] = pd.to_datetime(ekbe['BUDAT'], errors='coerce', dayfirst=False)

C:\Users\HIMANSHU SURYAVANSHI\AppData\Local\Temp\ipykernel_14880\856403856.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ekbe['BUDAT'] = pd.to_datetime(ekbe['BUDAT'], errors='coerce', dayfirst=False)

In [47]:
ekbe['BUDAT'].unique()

<DatetimeArray>
['2009-12-21 00:00:00', '2009-12-31 00:00:00', '2010-03-31 00:00:00',
 '2010-06-30 00:00:00', '2009-07-05 00:00:00', '2012-07-22 00:00:00',
 '2012-02-08 00:00:00', '2009-10-27 00:00:00', '2011-09-26 00:00:00',
 '2010-09-20 00:00:00',
 ...
 '2024-12-31 00:00:00', '2024-12-29 00:00:00', '2023-12-09 00:00:00',
 '2024-01-06 00:00:00', '2024-05-05 00:00:00', '2024-04-11 00:00:00',
 '2024-02-10 00:00:00', '2024-06-23 00:00:00', '2024-05-26 00:00:00',
 '2024-12-22 00:00:00']
Length: 3130, dtype: datetime64[ns]

In [48]:
ekbe['EBELN'].unique()

array([3100000073, 3100000079, 3100000090, ..., 6200034741, 6200034742,
       6200034746])

In [49]:
ekbe['EBELP'].unique()

array([  2,   3,   1,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  36,  37,  38,  22,  35,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  59,  60,  63,  64,  65,  66,  67,  68,
        69,  70,  58,  61,  62,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230])

In [50]:
ekbe['EBELN'] = ekbe['EBELN'].astype(str)
ekbe['EBELP'] = ekbe['EBELP'].astype(str)

In [51]:
# earliest posting date per EBELN+EBELP (this will be used as GRN date)
ekbe_earliest = (
    ekbe
    .dropna(subset=['BUDAT'])
    .groupby(['EBELN', 'EBELP'], as_index=False)['BUDAT']
    .min()
    .rename(columns={'BUDAT': 'GRN_date'})
)

In [52]:
ekbe_earliest.head()

        EBELN EBELP   GRN_date
0  3100000073     2 2009-12-21
1  3100000079     2 2009-07-05
2  3100000090     2 2012-02-08
3  3100000135     2 2009-10-27
4  3100000135     3 2011-09-26

In [53]:
ekbe_earliest['GRN_date'].unique()

<DatetimeArray>
['2009-12-21 00:00:00', '2009-07-05 00:00:00', '2012-02-08 00:00:00',
 '2009-10-27 00:00:00', '2011-09-26 00:00:00', '2010-09-20 00:00:00',
 '2010-02-01 00:00:00', '2010-06-30 00:00:00', '2010-03-10 00:00:00',
 '2009-12-31 00:00:00',
 ...
 '2024-01-06 00:00:00', '2024-08-04 00:00:00', '2024-05-05 00:00:00',
 '2024-02-18 00:00:00', '2024-04-11 00:00:00', '2024-02-10 00:00:00',
 '2024-06-23 00:00:00', '2024-05-11 00:00:00', '2024-05-26 00:00:00',
 '2024-12-22 00:00:00']
Length: 2348, dtype: datetime64[ns]

In [54]:
ekpo_ekko_eket.shape

(43901, 375)

In [55]:
ekbe_earliest.shape

(12595, 3)

In [56]:
ekpo_ekko_eket['EBELN'].unique()

array(['3100000073', '3100000079', '3100000090', ..., '6200034748',
       '6200034749', '6200034750'], dtype=object)

In [57]:
ekpo_ekko_eket['EBELP'].unique()

array(['2', '3', '1', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '180', '181',
       '182', '183', '184', '185', '186', '187', '188', '189', '190',
       '191', '192', '193', '194', '195', '196', '197', '198', '199',
       '200', '201', '202', '203', '204', '205', '206', '207', '208',
       '209', '210', '211', '212', '213', '214', '215', '216', '217',
       '218', '219', '220', '221', '222', '223', '224', '225', '226',
       '227', '228', '229', '230', '231', '232', '233', '234', '235',
       '236', '237', '238', '239', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '250', '251', '252', '253',
       '254', '255'], dtype=object)

In [58]:
ekpo_ekko_eket['EBELN'] = ekpo_ekko_eket['EBELN'].astype(str)
ekpo_ekko_eket['EBELP'] = ekpo_ekko_eket['EBELP'].astype(str)

In [59]:
# -----------------------
# Step 5: Join earliest GRN_date with main DF and compute ACTUAL TIME = GRN_date - AEDAT
# -----------------------
df = pd.merge(
    ekpo_ekko_eket,
    ekbe_earliest, 
    on=['EBELN', 'EBELP'], 
    how='left'
)

In [60]:
df.shape

(43901, 376)

In [61]:
df['GRN_date']

0       2009-12-21
1       2009-07-05
2       2012-02-08
3       2009-10-27
4       2011-09-26
           ...
43896          NaT
43897          NaT
43898          NaT
43899          NaT
43900          NaT
Name: GRN_date, Length: 43901, dtype: datetime64[ns]

In [62]:
# Ensure AEDAT_dt and GRN_date are datetime (AEDAT_dt computed earlier)
df['GRN_date'] = pd.to_datetime(df['GRN_date'], errors='coerce', dayfirst=False)

In [63]:
df['GRN_date']

0       2009-12-21
1       2009-07-05
2       2012-02-08
3       2009-10-27
4       2011-09-26
           ...
43896          NaT
43897          NaT
43898          NaT
43899          NaT
43900          NaT
Name: GRN_date, Length: 43901, dtype: datetime64[ns]

In [64]:
df['AEDAT_ekko'] = pd.to_datetime(df['AEDAT_ekko'], errors='coerce', dayfirst=False)
df['AEDAT_ekko']

0       2009-04-23
1       2009-04-26
2       2009-05-03
3       2009-06-03
4       2009-06-03
           ...
43896   2024-09-30
43897   2024-09-30
43898   2024-09-30
43899   2024-09-30
43900   2024-09-30
Name: AEDAT_ekko, Length: 43901, dtype: datetime64[ns]

In [66]:
df['Actual_time(In days)'] = (df['GRN_date'] - df['AEDAT_ekko']).dt.days

In [67]:
df['Actual_time(In days)'].unique()

array([ 2.420e+02,  7.000e+01,  1.011e+03,  1.460e+02,  8.450e+02,
        3.620e+02,  1.060e+02,  2.470e+02,  1.320e+02,  5.800e+01,
        3.430e+02,  4.080e+02,  2.350e+02,  1.130e+02,  1.100e+01,
        5.530e+02,  7.880e+02,  5.920e+02,  3.320e+02, -2.000e+00,
        3.310e+02,  1.280e+02,  5.340e+02,  4.620e+02,  6.470e+02,
        1.210e+02,  1.870e+02,  1.009e+03,  1.700e+01,  2.090e+02,
        5.040e+02,  1.400e+02,  6.410e+02,  1.920e+02,  4.630e+02,
        2.010e+02,  6.260e+02,  1.900e+02,  4.180e+02,  3.690e+02,
        8.970e+02,  3.470e+02,  4.210e+02,  2.180e+02,  4.890e+02,
        3.650e+02,  1.560e+02,  3.630e+02,  3.360e+02,  1.990e+02,
        1.730e+02,  1.960e+02,  5.230e+02,  2.000e+02,  6.080e+02,
        1.780e+02,  1.670e+02,  3.530e+02,  3.000e+02,  1.970e+02,
        6.800e+02,  5.440e+02,  2.990e+02,  2.320e+02,  3.080e+02,
        1.110e+02,  2.400e+02,  8.100e+01,  5.120e+02,  1.240e+02,
        8.610e+02,  1.610e+02,  3.020e+02,  6.210e+02,  6.450e+02,
        5.130e+02,  9.200e+01,  1.300e+02,  1.950e+02,  1.850e+02,
        1.630e+02,  3.850e+02,  1.347e+03,  2.460e+02,  1.790e+02,
        2.030e+02,  2.660e+02,  1.520e+02,  1.660e+02,  2.050e+02,
        1.000e+00,  1.070e+02,  1.810e+02,  9.100e+01,  1.830e+02,
        3.060e+02,  2.820e+02,  2.580e+02,  7.600e+01,  2.780e+02,
        2.700e+02,  2.940e+02,  1.230e+02,  6.300e+01,  2.830e+02,
        1.010e+02,  1.880e+02,  1.860e+02,  7.700e+01,  1.680e+02,
        1.340e+02,  1.800e+01,  7.400e+01,  6.900e+01,  4.600e+01,
        4.500e+01,  4.800e+01,  1.020e+02,  9.700e+01,  3.340e+02,
        1.530e+02,  7.100e+01,  2.800e+01,  9.400e+01,  4.200e+01,
        5.000e+01,  1.190e+02,  2.020e+02,  8.900e+01,  5.700e+01,
        1.170e+02,  3.760e+02,  4.160e+02,  1.550e+02,  1.450e+02,
        3.810e+02,  3.920e+02,  4.320e+02,  0.000e+00,  7.340e+02,
              nan,  2.740e+02,  6.400e+01,  2.630e+02,  1.290e+02,
        3.500e+02,  2.960e+02,  8.600e+01,  2.530e+02,  2.860e+02,
        9.750e+02,  1.270e+02,  1.840e+02,  2.670e+02,  2.190e+02,
        4.570e+02,  1.080e+02,  3.380e+02,  4.540e+02,  8.070e+02,
        1.580e+02,  2.890e+02,  7.000e+00,  9.300e+01,  1.540e+02,
        8.000e+00,  3.010e+02,  3.500e+01,  4.410e+02,  4.430e+02,
        1.700e+02,  4.060e+02,  1.980e+02,  7.200e+01,  9.570e+02,
        7.300e+01,  2.100e+01,  6.180e+02,  1.440e+02,  4.810e+02,
        1.750e+02,  2.480e+02,  3.400e+01,  1.028e+03,  8.300e+01,
        8.000e+01,  5.900e+01,  4.150e+02,  2.240e+02,  4.290e+02,
        1.150e+02,  8.500e+01,  2.520e+02,  3.800e+02,  3.840e+02,
        4.190e+02,  3.990e+02,  1.200e+02,  8.050e+02,  2.290e+02,
        4.140e+02,  2.450e+02,  6.220e+02,  1.050e+02,  1.040e+02,
        3.170e+02,  1.260e+02,  6.540e+02,  2.340e+02,  2.360e+02,
        1.220e+02,  3.160e+02,  1.740e+02,  3.180e+02,  1.570e+02,
        1.800e+02,  3.980e+02,  1.100e+02,  6.000e+01,  7.500e+01,
        1.180e+02,  1.410e+02,  3.230e+02,  3.680e+02,  3.880e+02,
        5.100e+01,  2.720e+02,  3.560e+02,  4.090e+02,  1.000e+02,
        4.900e+01,  2.250e+02,  6.360e+02,  1.770e+02,  4.460e+02,
        2.070e+02,  3.900e+01,  3.820e+02,  1.238e+03,  6.480e+02,
        4.000e+01,  1.015e+03,  3.700e+02,  9.500e+01,  4.450e+02,
        1.820e+02,  1.890e+02,  3.330e+02,  2.140e+02,  5.960e+02,
        4.720e+02,  3.000e+01,  7.800e+01,  3.520e+02,  8.670e+02,
        4.230e+02,  9.800e+01,  3.580e+02,  3.600e+02,  2.970e+02,
        9.600e+01,  1.360e+02,  3.100e+02,  3.280e+02,  3.830e+02,
        1.590e+02,  2.560e+02,  2.370e+02,  2.920e+02,  3.780e+02,
        5.400e+01,  1.510e+02,  1.370e+02,  3.120e+02,  6.600e+01,
        8.500e+02,  2.850e+02,  4.070e+02,  2.810e+02,  4.750e+02,
        4.740e+02,  4.300e+01,  6.980e+02,  2.590e+02,  2.310e+02,
        3.250e+02,  3.040e+02,  2.230e+02,  5.200e+01,  1.160e+02,
        1.650e+02,  1.390e+02,  1.470e+02,  3.870e+02,  3.550e+02,
        1.430e+02,  1.310e+02,  2.220e+02,  3.950e+02,  5.360e+02,
        1.380e+02,  2.410e+02,  1.490e+02,  2.880e+02,  1.940e+02,
        3.150e+02,  6.280e+02,  1.640e+02,  1.140e+02,  2.700e+01,
        6.460e+02,  1.760e+02,  9.900e+01,  3.710e+02,  3.200e+01,
        1.400e+01,  5.000e+00,  1.120e+02,  5.220e+02,  5.460e+02,
        1.250e+02,  1.930e+02,  2.570e+02,  3.240e+02,  5.600e+01,
        2.900e+02,  3.800e+01,  4.300e+02,  3.300e+01,  3.190e+02,
        6.010e+02,  2.040e+02,  9.000e+01,  2.430e+02,  7.270e+02,
        1.480e+02,  4.240e+02,  3.220e+02,  1.350e+02,  5.400e+02,
        6.700e+01,  6.270e+02,  2.490e+02,  4.840e+02,  6.680e+02,
        7.430e+02,  2.100e+02,  3.070e+02,  4.010e+02,  1.600e+02,
        2.380e+02,  4.680e+02,  4.920e+02,  2.930e+02,  1.710e+02,
        2.640e+02,  2.620e+02,  8.700e+01,  2.840e+02,  2.060e+02,
        3.600e+01,  1.030e+02,  2.210e+02,  5.550e+02,  8.800e+01,
        6.100e+01,  3.440e+02,  4.690e+02,  3.390e+02,  4.480e+02,
        4.470e+02,  4.930e+02,  2.690e+02,  5.050e+02,  1.090e+02,
        1.300e+01,  3.670e+02,  4.400e+01,  4.640e+02,  2.540e+02,
        2.950e+02,  5.450e+02,  1.330e+02,  6.580e+02,  8.400e+01,
        3.300e+02,  6.800e+01,  4.700e+01,  6.290e+02,  2.200e+01,
        5.560e+02,  9.890e+02,  3.640e+02,  1.420e+02,  5.060e+02,
        6.440e+02,  5.480e+02,  5.160e+02,  1.048e+03,  1.075e+03,
        4.370e+02,  4.310e+02,  3.200e+02,  3.410e+02,  5.880e+02,
        3.450e+02,  5.610e+02,  8.020e+02,  1.300e+03,  3.720e+02,
        6.720e+02,  1.134e+03,  6.500e+01,  6.240e+02,  6.870e+02,
        7.380e+02,  7.420e+02,  8.650e+02,  5.240e+02,  1.500e+02,
        4.420e+02,  6.050e+02,  6.390e+02,  2.150e+02,  4.040e+02,
        4.910e+02,  5.810e+02,  6.630e+02,  8.190e+02,  9.210e+02,
        7.090e+02,  4.820e+02,  9.200e+02,  7.490e+02,  3.210e+02,
        4.970e+02,  9.410e+02,  4.220e+02,  8.480e+02,  4.100e+02,
        6.510e+02,  2.730e+02,  1.268e+03,  2.160e+02,  2.550e+02,
        8.290e+02,  8.730e+02,  7.310e+02,  2.110e+02,  5.250e+02,
        6.490e+02,  7.570e+02,  4.500e+02,  2.610e+02,  5.390e+02,
        8.700e+02,  4.650e+02,  9.780e+02,  1.275e+03,  8.950e+02,
        2.440e+02,  1.620e+02,  7.730e+02,  2.300e+02,  2.770e+02,
        4.950e+02,  7.620e+02,  5.320e+02,  3.090e+02,  3.730e+02,
        5.850e+02,  3.000e+00,  2.710e+02,  3.350e+02,  2.980e+02,
        3.130e+02,  5.760e+02,  6.100e+02,  1.083e+03,  2.330e+02,
        4.440e+02,  7.460e+02,  2.120e+02,  2.650e+02,  5.670e+02,
        4.350e+02,  5.100e+02,  4.600e+02,  2.280e+02,  5.010e+02,
        2.200e+02,  7.110e+02,  9.030e+02,  2.500e+02,  2.080e+02,
        3.270e+02,  4.390e+02,  2.600e+02,  4.610e+02,  4.000e+02,
        1.000e+03,  1.690e+02,  2.170e+02,  4.880e+02,  5.740e+02,
        5.170e+02,  7.180e+02,  5.020e+02,  7.920e+02,  3.540e+02,
        1.690e+03,  4.100e+01,  4.710e+02,  2.800e+02,  1.720e+02,
        2.400e+01,  2.390e+02,  7.300e+02,  5.620e+02,  6.930e+02,
        1.098e+03,  6.020e+02,  5.840e+02,  7.580e+02,  9.000e+02,
        2.270e+02,  3.260e+02,  4.110e+02,  7.650e+02,  4.400e+02,
        7.360e+02,  5.110e+02,  1.673e+03,  9.760e+02,  4.050e+02,
        1.094e+03,  4.990e+02,  1.372e+03,  1.344e+03,  5.430e+02,
        5.070e+02,  3.890e+02,  4.130e+02,  6.170e+02,  3.970e+02,
        7.710e+02,  4.120e+02,  1.180e+03,  1.231e+03,  3.290e+02,
        1.432e+03,  3.570e+02,  6.780e+02,  1.318e+03,  1.256e+03,
        1.274e+03,  4.800e+02,  5.690e+02,  4.280e+02,  4.380e+02,
        2.600e+01,  3.860e+02,  5.500e+01,  6.200e+01,  4.770e+02,
        7.740e+02,  1.016e+03,  5.730e+02,  9.020e+02,  4.330e+02,
        5.950e+02,  8.350e+02,  8.200e+01,  4.830e+02,  3.050e+02,
        3.660e+02,  8.160e+02,  6.640e+02,  9.500e+02,  5.280e+02,
        8.600e+02,  5.500e+02,  4.860e+02,  6.420e+02,  5.540e+02,
        8.550e+02,  5.300e+01,  6.000e+02,  2.900e+01,  7.810e+02,
        3.930e+02,  1.044e+03,  8.720e+02,  1.049e+03,  1.027e+03,
        3.370e+02,  3.590e+02,  6.880e+02,  2.760e+02,  8.630e+02,
        7.890e+02,  5.700e+02,  3.140e+02,  9.170e+02,  8.470e+02,
        5.180e+02,  9.840e+02,  7.630e+02,  3.490e+02,  4.960e+02,
        2.300e+01,  1.900e+01,  2.500e+01,  3.770e+02,  4.200e+02,
        9.220e+02,  8.220e+02,  6.430e+02,  7.900e+01,  5.300e+02,
        1.000e+01,  1.200e+01,  4.850e+02,  2.750e+02,  3.960e+02,
        6.700e+02,  6.890e+02,  3.750e+02,  7.930e+02,  4.170e+02,
        2.000e+01,  4.780e+02,  4.260e+02,  2.910e+02,  3.480e+02,
        2.680e+02,  7.820e+02,  3.100e+01,  4.940e+02,  6.000e+00,
        1.600e+01,  5.200e+02,  9.000e+00,  4.980e+02,  6.590e+02,
        2.510e+02,  3.400e+02,  3.460e+02,  6.670e+02,  2.260e+02,
        3.910e+02,  2.870e+02,  1.378e+03,  5.980e+02,  6.300e+02,
        8.820e+02,  4.360e+02,  8.260e+02,  1.500e+01,  4.000e+00,
        1.910e+02,  4.020e+02, -1.100e+01, -6.000e+00,  1.720e+03,
        2.790e+02,  5.080e+02,  6.810e+02,  6.740e+02,  1.133e+03,
        9.240e+02,  2.394e+03,  1.120e+03,  7.900e+02,  6.610e+02,
        1.298e+03,  1.637e+03,  6.370e+02,  9.140e+02,  6.060e+02,
        3.420e+02,  6.950e+02,  6.310e+02,  7.840e+02,  1.768e+03,
        1.458e+03,  1.466e+03,  3.510e+02,  6.820e+02,  1.024e+03,
       -8.000e+00,  2.000e+00,  7.520e+02,  6.940e+02,  7.850e+02,
        8.080e+02,  1.111e+03,  5.290e+02,  6.520e+02,  9.740e+02,
        1.042e+03,  1.154e+03,  7.500e+02,  8.300e+02,  1.281e+03,
        2.831e+03,  6.230e+02,  5.800e+02,  6.560e+02,  1.442e+03,
        9.430e+02,  1.506e+03,  1.046e+03,  1.277e+03,  4.760e+02,
        6.380e+02,  1.257e+03,  7.000e+02,  1.182e+03,  6.090e+02,
        2.786e+03,  8.920e+02,  8.120e+02,  7.600e+02,  5.510e+02,
        8.590e+02,  5.310e+02,  4.730e+02,  8.800e+02,  7.960e+02,
        1.070e+03,  1.071e+03,  1.113e+03,  7.220e+02,  7.670e+02,
        1.041e+03,  6.150e+02,  7.020e+02,  3.700e+01,  9.710e+02,
        5.990e+02,  5.710e+02,  7.550e+02,  5.470e+02,  5.370e+02,
        3.030e+02,  5.970e+02,  1.054e+03,  3.610e+02,  5.720e+02,
        7.540e+02,  1.026e+03,  1.188e+03,  1.266e+03,  1.476e+03,
        7.720e+02,  8.490e+02,  9.650e+02,  9.880e+02,  1.030e+03,
        1.090e+03,  1.073e+03,  1.351e+03,  1.470e+03,  8.560e+02,
        2.103e+03,  2.146e+03,  5.630e+02,  5.650e+02,  1.349e+03,
        1.697e+03,  1.174e+03,  9.520e+02,  1.441e+03,  2.466e+03,
        4.660e+02,  9.350e+02,  1.380e+03,  7.080e+02,  1.818e+03,
        1.248e+03,  1.288e+03,  1.740e+03,  8.570e+02,  9.860e+02,
        7.100e+02,  9.550e+02,  9.950e+02,  8.960e+02,  1.122e+03,
        1.164e+03,  1.282e+03,  1.406e+03,  1.795e+03,  1.859e+03,
        1.898e+03,  1.925e+03,  1.981e+03,  2.683e+03,  2.326e+03,
        1.694e+03,  2.327e+03,  1.652e+03,  5.660e+02,  1.735e+03,
        1.125e+03,  5.030e+02,  1.151e+03,  2.155e+03,  8.240e+02,
        8.230e+02,  1.979e+03,  9.180e+02,  1.250e+03,  8.740e+02,
        6.530e+02,  9.380e+02,  5.330e+02,  6.750e+02,  8.910e+02,
        1.310e+03,  4.270e+02,  1.104e+03,  8.400e+02,  1.035e+03,
        1.147e+03,  1.224e+03,  1.253e+03,  1.350e+03,  1.463e+03,
        1.505e+03,  1.532e+03,  1.853e+03,  1.994e+03,  6.770e+02,
        7.770e+02,  7.280e+02,  4.250e+02,  5.590e+02,  5.640e+02,
        2.062e+03,  8.530e+02,  2.020e+03,  1.703e+03,  1.225e+03,
        6.650e+02,  3.790e+02,  1.952e+03,  5.490e+02,  9.600e+02,
        4.490e+02,  6.110e+02,  7.130e+02,  9.800e+02,  1.012e+03,
        1.143e+03,  1.198e+03,  1.103e+03,  1.171e+03,  1.246e+03,
        1.303e+03,  1.373e+03,  1.641e+03,  9.450e+02,  6.710e+02,
        7.030e+02,  1.001e+03,  9.150e+02,  1.153e+03,  1.791e+03,
        7.590e+02,  7.980e+02,  9.700e+02,  1.647e+03,  4.520e+02,
        5.680e+02,  1.817e+03,  3.740e+02,  5.380e+02,  9.690e+02,
        8.930e+02,  1.018e+03,  1.431e+03,  7.690e+02,  1.635e+03,
        6.030e+02,  8.430e+02,  1.116e+03,  1.312e+03,  1.313e+03,
        8.810e+02,  1.357e+03,  1.114e+03,  9.670e+02,  1.331e+03,
        1.360e+03,  7.170e+02,  5.260e+02,  1.418e+03,  8.780e+02,
        6.350e+02,  1.004e+03,  5.150e+02,  1.029e+03,  1.052e+03,
        7.230e+02,  5.860e+02,  7.510e+02,  3.110e+02,  5.770e+02,
        1.175e+03,  8.140e+02,  1.217e+03,  1.263e+03,  1.061e+03,
        1.074e+03,  7.480e+02,  1.055e+03,  4.900e+02,  1.322e+03,
        1.178e+03,  1.173e+03,  1.126e+03,  9.870e+02,  7.150e+02,
        4.560e+02,  8.620e+02,  6.840e+02,  2.130e+02,  1.782e+03,
        6.960e+02, -4.000e+00, -3.000e+00, -5.000e+00])

In [68]:
# -----------------------
# Step 6: Highlight where ACTUAL_TIME >= 150% of IDEAL_TIME
#   - If Ideal_time_days is NaN or <= 0 -> do not flag (False)
#   - If Actual_time_days is NaN -> do not flag
# -----------------------
def flag_row(ideal, actual):
    if pd.isna(ideal) or pd.isna(actual):
        return False
    try:
        ideal_f = float(ideal)
        actual_f = float(actual)
    except Exception:
        return False
    if ideal_f <= 0:
        return False
    return actual_f >= 1.5 * ideal_f

In [69]:
df['Exception'] = df.apply(lambda r: flag_row(r['Ideal_time(In days)'], r['Actual_time(In days)']), axis=1)

In [74]:
# -----------------------
# Final output formatting
# -----------------------
output = df[['EBELN', 'EBELP', 'AEDAT_ekko', 'EINDT','GRN_date', 'Ideal_time(In days)', 'Actual_time(In days)', 'Exception']].copy()
output = output.rename(columns={
    'EBELN': 'Purchase Documents',
    'EBELP': 'Item',
    'AEDAT_ekko': 'Created_On_EKKO',
    'EINDT': 'Required delivery date',
    'Ideal_time(In days)': 'Ideal time',
    'Actual_time(In days)': 'Actual time'
})

In [75]:
# reorder columns as requested
output = output[['Purchase Documents', 'Item', 'Created_On_EKKO', 'Required delivery date', 'GRN_date', 'Ideal time', 'Actual time', 'Exception']]

In [76]:
# show summary and top rows
print("Total rows in output:", len(output))
print("Problem (highlighted) rows:", int(output['Exception'].sum()))
display(output.head(50))

Total rows in output: 43901
Problem (highlighted) rows: 4345

,Purchase Documents,Item,Created_On_EKKO,Required delivery date,GRN_date,Ideal time,Actual time,Exception
0,3100000073,2,2009-04-23,2009-08-15,2009-12-21,114.0,242.0,True
1,3100000079,2,2009-04-26,2009-05-05,2009-07-05,9.0,70.0,True
2,3100000090,2,2009-05-03,2009-05-17,2012-02-08,14.0,1011.0,True
3,3100000135,2,2009-06-03,2009-07-15,2009-10-27,42.0,146.0,True
4,3100000135,3,2009-06-03,2009-07-30,2011-09-26,57.0,845.0,True
5,3100000295,1,2009-09-23,2009-08-31,2010-09-20,-23.0,362.0,False
6,3100000295,2,2009-09-23,2010-08-05,2010-09-20,316.0,362.0,False
7,3100000328,1,2009-10-18,2009-10-28,2010-02-01,10.0,106.0,True
8,3100000348,1,2009-10-26,2009-10-06,2010-06-30,-20.0,247.0,False
9,3100000356,1,2009-10-29,2009-11-01,2010-03-10,3.0,132.0,True
10,3100000367,1,2009-11-03,2009-11-05,2009-12-31,2.0,58.0,True
11,3100000376,1,2009-11-10,2009-11-05,2010-10-19,-5.0,343.0,False
12,3100000393,1,2009-11-18,2009-10-15,2010-12-31,-34.0,408.0,False
13,3100000401,1,2009-11-22,2009-12-20,2010-07-15,28.0,235.0,True
14,3100000414,1,2009-12-08,2009-12-04,2010-03-31,-4.0,113.0,False
15,3100000430,1,2009-12-20,2010-01-07,2009-12-31,18.0,11.0,False
16,3100000437,1,2009-12-22,2009-12-31,2011-06-28,9.0,553.0,True
17,3100000446,1,2009-12-23,2009-12-31,2012-02-19,8.0,788.0,True
18,3100000473,1,2010-01-28,2010-01-27,2011-09-12,-1.0,592.0,False
19,3100000473,2,2010-01-28,2010-08-15,2011-09-12,199.0,592.0,True
20,3100000480,1,2010-02-02,2010-01-31,2010-12-31,-2.0,332.0,False
21,3100000482,1,2010-02-03,2009-12-17,2010-02-01,-48.0,-2.0,False
22,3100000482,2,2010-02-03,2009-12-25,2010-02-01,-40.0,-2.0,False
23,3100000483,1,2010-02-03,2010-05-20,2010-12-31,106.0,331.0,True
24,3100000505,1,2010-02-22,2010-02-28,2010-06-30,6.0,128.0,True
25,3100000505,2,2010-02-22,2010-08-20,2011-08-10,179.0,534.0,True
26,3100000511,1,2010-03-01,2010-02-04,2011-06-06,-25.0,462.0,False
27,3100000511,2,2010-03-01,2011-10-23,2011-12-08,601.0,647.0,False
28,3100000512,1,2010-03-01,2010-02-28,2010-06-30,-1.0,121.0,False
29,3100000514,1,2010-03-02,2010-03-31,2010-09-05,29.0,187.0,True
30,3100000524,1,2010-03-08,2010-03-17,2012-12-11,9.0,1009.0,True
31,3100000534,1,2010-03-14,2010-03-16,2010-03-31,2.0,17.0,True
32,3100000536,1,2010-03-16,2010-02-10,2010-10-11,-34.0,209.0,False
33,3100000536,2,2010-03-16,2011-06-17,2011-08-02,458.0,504.0,False
34,3100000543,1,2010-03-22,2010-04-30,2010-05-31,39.0,70.0,True
35,3100000563,1,2010-04-13,2010-04-15,2011-07-19,2.0,462.0,True
36,3100000563,2,2010-04-13,2011-01-10,2011-07-19,272.0,462.0,True
37,3100000567,1,2010-04-20,2010-05-15,2010-09-07,25.0,140.0,True
38,3100000568,1,2010-04-21,2010-05-05,2012-01-22,14.0,641.0,True
39,3100000628,1,2010-06-03,2010-05-31,2010-12-12,-3.0,192.0,False
40,3100000631,1,2010-06-03,2010-04-25,2011-05-01,-39.0,332.0,False
41,3100000638,1,2010-06-09,2010-04-30,2011-09-15,-40.0,463.0,False
42,3100000638,2,2010-06-09,2010-04-30,2011-09-15,-40.0,463.0,False
43,3100000644,1,2010-06-13,2010-06-20,2010-12-31,7.0,201.0,True
44,3100000648,1,2010-06-14,2010-06-15,2012-03-01,1.0,626.0,True
45,3100000660,1,2010-06-24,2010-07-15,2010-12-31,21.0,190.0,True
46,3100000667,1,2010-06-30,2010-06-30,2011-08-22,0.0,418.0,False
47,3100000667,2,2010-06-30,2010-06-30,2011-08-22,0.0,418.0,False
48,3100000667,3,2010-06-30,2010-06-30,2011-08-22,0.0,418.0,False
49,3100000679,1,2010-07-08,2010-07-04,2011-07-12,-4.0,369.0,False

In [77]:
# save to CSV
output.to_csv("PO_Item_Delivery_Times_output(outlier_13).csv", index=False)
print("Saved output to: PO_Item_Delivery_Times_output.csv")

Saved output to: PO_Item_Delivery_Times_output.csv